body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43aefc;
}
.App{
  height: 100%;
  margin: auto;
}
.App-box {
  display: flex;
  width: 400px;
  margin: auto;
  border-radius: 5px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #43aefc;
  box-shadow: 0px 2px 5px rgba(95, 95, 95, 0.25);
  background-color: #ffffff;
}